@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg#Lato") format("svg"); }

@font-face {
  font-family: "NotoSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSerif.eot");
  src: url("../fonts/NotoSerif.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif.woff") format("woff"), url("../fonts/NotoSerif.ttf") format("truetype"), url("../fonts/NotoSerif.svg#NotoSerif") format("svg"); }

@font-face {
  font-family: "UTMTalling";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/UTMTalling.eot");
  src: url("../fonts/UTMTalling.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMTalling.woff") format("woff"), url("../fonts/UTMTalling.ttf") format("truetype"), url("../fonts/UTMTalling.svg#UTMTalling") format("svg"); }

@font-face {
  font-family: "UTMColossalis";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/UTMColossalis.eot");
  src: url("../fonts/UTMColossalis.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMColossalis.woff") format("woff"), url("../fonts/UTMColossalis.ttf") format("truetype"), url("../fonts/UTMColossalis.svg#UTMColossalis") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto") format("svg"); }

@font-face {
  font-family: "UTMAlterGothic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/UTMAlterGothic.eot");
  src: url("../fonts/UTMAlterGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAlterGothic.woff") format("woff"), url("../fonts/UTMAlterGothic.ttf") format("truetype"), url("../fonts/UTMAlterGothic.svg#UTMAlterGothic") format("svg"); }

@font-face {
  font-family: "VNF-Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/VNF-Oswald.eot");
  src: url("../fonts/VNF-Oswald.eot?#iefix") format("embedded-opentype"), url("../fonts/VNF-Oswald.woff") format("woff"), url("../fonts/VNF-Oswald.ttf") format("truetype"), url("../fonts/VNF-Oswald.svg#VNF-Oswald") format("svg"); }

@font-face {
  font-family: "OswaldVNF";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OswaldVNF.eot");
  src: url("../fonts/OswaldVNF.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldVNF.woff") format("woff"), url("../fonts/OswaldVNF.ttf") format("truetype"), url("../fonts/OswaldVNF.svg#OswaldVNF") format("svg"); }

.main-content {
  margin-bottom: 60px; }

.super-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  opacity: 0; }

.super-img {
  position: relative;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 56.25%;
  opacity: 0; }
  .super-img.loaded {
    opacity: 1;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .super-img.ratio-3x4 {
    padding-top: 133.333333333%; }
  .super-img.ratio-4x3 {
    padding-top: 75%; }
  .super-img.ratio-3x2 {
    padding-top: 66.6666666667%; }
  .super-img.ratio-1x1 {
    padding-top: 100%; }
  .super-img.ratio-2x1 {
    padding-top: 50%; }
  .super-img.ratio-16x9 {
    padding-top: 56.25%; }
  .super-img.ratio-8x5 {
    padding-top: 62.5%; }

.container {
  padding: 0; }

#wrap-content-left {
  width: calc(100% - 315px);
  float: left;
  margin-right: 15px; }

.display-flex {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row; }
  .display-flex > div {
    flex: auto; }
    .display-flex > div.box-290 {
      width: 290px;
      flex: inherit; }

.line {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%; }
  .line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 1px;
    border-bottom: 1px solid #de0007;
    z-index: 1;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
  .line.border-2:before {
    border-bottom: 2px solid #de0007;
    height: 2px; }

.image {
  position: relative;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #de0007;
    opacity: 0;
    z-index: 1;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }

#main {
  background-color: #f6f4ef; }

.box-white {
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.27);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.27);
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  padding: 15px; }
  .box-white > .title {
    margin-bottom: 10px; }

.title-box, .box-white > .title, .box-latest-news > .title {
  font-size: 18px;
  font-family: "UTMAlterGothic";
  color: #de0007;
  text-transform: uppercase; }

.title-content, .box-latest-news .content-left .content-float-left .content .title, .box-latest-news .content-left .content-float-right .item h3, .box-premier-league .item-box .content .title {
  font-size: 18px;
  font-family: "UTMAlterGothic";
  color: #fff;
  margin-bottom: 5px; }
  .title-content.black, .box-latest-news .content-left .content-float-left .content .black.title, .box-latest-news .content-left .content-float-right .item h3.black, .box-premier-league .item-box .content .black.title {
    color: #000; }

.desc, .box-latest-news .content-left .content-float-left .content .desc, .box-premier-league .item-box .content .desc {
  font-size: 13px;
  color: #fff;
  line-height: 18px; }
  .desc.black, .box-latest-news .content-left .content-float-left .content .black.desc, .box-premier-league .item-box .content .black.desc {
    color: #000; }

.content-box-scroll {
  overflow: auto;
  position: relative;
  max-width: 100%;
  height: 100%;
  max-height: 289px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mCSB_inside > .mCSB_container {
  margin-right: 10px; }

#wrap-content-right {
  width: 300px;
  float: left; }

#header {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 0.5s; }
  #header .header {
    background: url("../img/bg-live.jpg") no-repeat center top;
    min-height: 290px; }
    @media (max-width: 640px) {
      #header .header {
        background-size: cover;
        min-height: auto;
        padding-bottom: 40px; } }

#score-live {
  padding-top: 50px; }
  #score-live .live-item .team {
    text-align: center; }
    #score-live .live-item .team .image {
      max-width: 150px;
      margin: 0 auto; }
    #score-live .live-item .team p {
      font-size: 30px;
      color: #fff;
      font-family: "UTMAlterGothic";
      text-transform: uppercase; }
      @media (max-width: 640px) {
        #score-live .live-item .team p {
          font-size: 20px; } }
    #score-live .live-item .team.score {
      margin-top: 52px; }
      #score-live .live-item .team.score > div {
        text-align: center; }
      #score-live .live-item .team.score .date {
        font-size: 36px;
        color: #fff;
        font-family: "OswaldVNF"; }
        @media (max-width: 640px) {
          #score-live .live-item .team.score .date {
            font-size: 14px; } }
      #score-live .live-item .team.score .time {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400; }
        @media (max-width: 640px) {
          #score-live .live-item .team.score .time {
            font-size: 14px; } }
  #score-live .control > a {
    position: absolute;
    font-size: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 44px; }
    #score-live .control > a.next {
      right: -80px; }
      @media (max-width: 1024px) {
        #score-live .control > a.next {
          right: 0; } }
      #score-live .control > a.next:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 40px;
        background: url("../img/next-prev.png") 20px 0;
        right: 0;
        top: 0; }
    #score-live .control > a.prev {
      left: -80px; }
      @media (max-width: 1024px) {
        #score-live .control > a.prev {
          left: 0; } }
      #score-live .control > a.prev:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 40px;
        background: url("../img/next-prev.png") 0 0;
        right: 0;
        top: 0; }
  #score-live .list-score-live {
    position: relative;
    margin-bottom: 20px; }
  #score-live .list-item {
    position: relative; }

.search-form {
  display: inline-block;
  position: relative;
  margin-top: 8px; }
  .search-form .icon-search {
    float: right;
    margin-top: 5px; }
    .search-form .icon-search > a {
      -moz-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      -webkit-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      display: block;
      font-size: 20px;
      color: #fff; }
      .search-form .icon-search > a > i:last-child {
        display: none; }
      .search-form .icon-search > a > i:first-child {
        display: block; }
    .search-form .icon-search.open > a {
      -moz-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      -webkit-transition: 0.2s ease-in;
      transition: 0.2s ease-in; }
      .search-form .icon-search.open > a > i:last-child {
        display: block; }
      .search-form .icon-search.open > a > i:first-child {
        display: none; }
  .search-form #max-search {
    width: 300px;
    position: absolute;
    height: 40px;
    display: inline-block;
    right: 27px;
    top: -6px; }
    .search-form #max-search input {
      display: inline-block;
      width: 100%;
      border: 1px solid #ddd;
      height: 100%;
      padding-left: 10px; }
    .search-form #max-search button {
      position: absolute;
      right: 0px;
      font-size: 18px;
      color: #333;
      border: none;
      box-shadow: none;
      top: 50%;
      background: none;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

#menu-head {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px; }
  #menu-head ul {
    display: inline-block; }
    #menu-head ul > li {
      float: left; }
      #menu-head ul > li:last-child > a:before {
        border-right: 0; }
      #menu-head ul > li > a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-family: "UTMAlterGothic";
        padding: 0 10px;
        position: relative; }
        #menu-head ul > li > a:before {
          content: "";
          position: absolute;
          right: 0;
          top: 4px;
          height: 13px;
          border-right: 1px solid #fff;
          width: 1px; }

#wrap-main {
  background-color: #2e2e2e; }
  #wrap-main #logo {
    width: 120px;
    background-color: #de0007;
    border-left: 4px solid #b40000;
    border-right: 4px solid #b40000;
    padding: 3px 8px;
    margin-right: 15px; }
  #wrap-main .container > div {
    display: inline-block;
    float: left; }

#wrap-head-right > div {
  display: inline-block;
  float: left; }
  #wrap-head-right > div.fb-api {
    background-color: #4a75ce;
    color: #fff;
    margin-right: 8px;
    margin-left: 10px; }
  #wrap-head-right > div.yt-api {
    background-color: #fff;
    color: #cb2121;
    margin-right: 10px; }
  #wrap-head-right > div.api-load {
    border-radius: 3px;
    padding: 3px;
    margin-top: 10px; }
    #wrap-head-right > div.api-load > svg {
      min-width: 16px; }

.select-tournaments {
  background-color: #000;
  padding: 7px 0; }
  .select-tournaments .list-select {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-direction: row; }
    .select-tournaments .list-select .item-select {
      width: 84px;
      min-width: 84px;
      margin-right: 6px; }
      .select-tournaments .list-select .item-select > div {
        width: 100%;
        background-color: #333333;
        color: #fff;
        border: 1px solid #606060;
        border-radius: 2px;
        height: 100%;
        font-size: 10px;
        text-transform: uppercase;
        padding-right: 18px; }
        .select-tournaments .list-select .item-select > div:after {
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff; }
        .select-tournaments .list-select .item-select > div > span {
          line-height: 73px; }
        .select-tournaments .list-select .item-select > div > ul {
          background-color: #333333;
          border: 1px solid #606060;
          border-radius: 3px; }
          .select-tournaments .list-select .item-select > div > ul > li {
            color: #fff;
            font-size: 12px; }
            .select-tournaments .list-select .item-select > div > ul > li:hover {
              background-color: #de0007; }
            .select-tournaments .list-select .item-select > div > ul > li.selected {
              background-color: #de0007; }
    .select-tournaments .list-select .list-select-tournaments {
      flex: auto;
      overflow: hidden; }
    .select-tournaments .list-select #list-item-select .item {
      background-color: #333333;
      padding: 5px;
      border: 1px solid #606060;
      border-radius: 2px; }
      .select-tournaments .list-select #list-item-select .item .date-time {
        font-size: 10px;
        color: #fff;
        margin-bottom: 6px;
        white-space: nowrap; }
        .select-tournaments .list-select #list-item-select .item .date-time span {
          font-size: 10px;
          color: #fff; }
      .select-tournaments .list-select #list-item-select .item .team {
        display: inline-block;
        width: 100%;
        margin-bottom: 4px;
        padding-bottom: 6px;
        border-bottom: 1px dashed #4d4d4d; }
        .select-tournaments .list-select #list-item-select .item .team:last-child {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0; }
        .select-tournaments .list-select #list-item-select .item .team > span {
          font-size: 11px;
          color: #fff;
          float: left; }
          .select-tournaments .list-select #list-item-select .item .team > span:last-child {
            float: right; }
        .select-tournaments .list-select #list-item-select .item .team .image {
          max-width: 13px;
          height: auto;
          float: left;
          margin-right: 5px; }

#footer-page {
  background-color: #373737;
  padding-top: 40px; }
  #footer-page p {
    font-size: 12px;
    color: #acacac;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px; }
    #footer-page p span {
      font-weight: 700; }
    #footer-page p a {
      font-size: 12px;
      color: #acacac;
      font-weight: 300; }
      #footer-page p a:hover {
        color: #fff;
        font-weight: 700; }
  #footer-page .footer-left {
    padding-right: 40px; }
    #footer-page .footer-left .logo {
      margin-top: 15px;
      margin-bottom: 60px; }
      #footer-page .footer-left .logo ul {
        list-style: none;
        display: inline-block;
        width: 100%; }
        #footer-page .footer-left .logo ul > li {
          float: left;
          margin-right: 10px;
          min-width: 70px;
          text-align: center;
          border: 1px solid #575757; }
          #footer-page .footer-left .logo ul > li > a {
            padding: 5px;
            display: block; }
          #footer-page .footer-left .logo ul > li:hover {
            background-color: #fff; }
  #footer-page .footer-right p {
    margin-bottom: 8px; }
  #footer-page .footer-right .left {
    margin-right: 30px; }
  #footer-page .footer-right .right .icon {
    margin-right: 10px; }
  #footer-page .footer-right .icon {
    width: 16px;
    display: inline-block;
    margin-right: 10px; }
    #footer-page .footer-right .icon img {
      width: 100%; }
  #footer-page .footer-bot {
    background-color: #de0007; }
    #footer-page .footer-bot p {
      font-size: 12px;
      color: #fff;
      text-align: center;
      font-weight: 300;
      padding: 10px;
      margin-bottom: 0; }

#max-menu-page ul {
  list-style: none;
  margin-bottom: 0; }
  #max-menu-page ul > li {
    float: left;
    position: relative;
    display: inline-block;
    padding: 10px 6px; }
    #max-menu-page ul > li:hover {
      background-color: #de0007; }
    #max-menu-page ul > li > a {
      position: relative;
      font-size: 20px;
      color: #fff;
      font-family: "UTMAlterGothic";
      text-transform: uppercase;
      padding: 10px 0;
      color: #fff; }
      @media (max-width: 1024px) {
        #max-menu-page ul > li > a {
          font-size: 16px; } }

#nav-menu-page button {
  float: right;
  padding: 0;
  background: none;
  color: #fff;
  font-size: 28px;
  padding: 20px 0 20px 0;
  display: inline-block;
  z-index: 700;
  opacity: 1;
  visibility: visible;
  border: 0;
  box-shadow: none;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  #nav-menu-page button span {
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    display: block;
    width: 80px; }
    #nav-menu-page button span:nth-child(3) {
      margin-bottom: 0; }
  #nav-menu-page button.close {
    opacity: 0;
    visibility: hidden; }

.close-m-extend {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .close-m-extend button {
    float: right;
    padding: 0;
    background: none;
    color: #fff;
    font-size: 28px;
    padding: 20px 0 20px 0;
    display: inline-block;
    z-index: 700;
    border: 0;
    box-shadow: none;
    height: 88px; }
    .close-m-extend button span {
      border-bottom: 2px solid #fff;
      margin-bottom: 20px;
      display: block;
      width: 80px;
      -moz-transition: all 5s ease-out;
      -o-transition: all 5s ease-out;
      -webkit-transition: all 5s ease-out;
      transition: all 5s ease-out; }
      .close-m-extend button span:nth-child(1) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -21px; }
      .close-m-extend button span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -22px;
        -moz-transition: all 5s ease-out;
        -o-transition: all 5s ease-out;
        -webkit-transition: all 5s ease-out;
        transition: all 5s ease-out; }
  .close-m-extend.open {
    opacity: 1;
    visibility: visible; }

#register #login {
  position: relative;
  padding-right: 3px; }
  #register #login:before {
    content: "";
    position: absolute;
    right: 8px;
    top: 13px;
    height: 20px;
    width: 1px;
    border-right: 1px solid #dbdbdb; }
  #register #login .modal-dialog {
    background-color: #2e2e2e; }
    #register #login .modal-dialog .modal-header {
      padding: 10px; }
    #register #login .modal-dialog .modal-title {
      font-size: 20px;
      color: #2e2e2e;
      text-align: center;
      text-transform: uppercase;
      font-family: "UTMAlterGothic"; }
    #register #login .modal-dialog .modal-body .row > .col-md-6 {
      border-right: 1px solid #ddd; }
    #register #login .modal-dialog .modal-body form {
      margin-bottom: 15px;
      text-align: center; }
    #register #login .modal-dialog .modal-body .form-group label {
      font-size: 14px;
      margin-bottom: 8px;
      text-align: left;
      float: left; }
    #register #login .modal-dialog .modal-body .form-group input {
      border-radius: 0;
      box-shadow: none; }
    #register #login .modal-dialog .modal-body button {
      background-color: #de0007;
      box-shadow: none;
      border-radius: 0;
      text-shadow: none;
      color: #fff;
      border: 1px solid #de0007; }
      #register #login .modal-dialog .modal-body button:hover {
        background-color: #fff;
        color: #de0007; }
    #register #login .modal-dialog .login-social {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px; }
      #register #login .modal-dialog .login-social > div {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        background-color: #de0007;
        padding: 10px;
        text-align: center; }
        #register #login .modal-dialog .login-social > div.facebook {
          background-color: #4a75ce;
          margin-left: 0; }
          #register #login .modal-dialog .login-social > div.facebook:hover {
            background-color: #245aca; }
        #register #login .modal-dialog .login-social > div:last-child {
          margin-right: 0; }
          #register #login .modal-dialog .login-social > div:last-child:hover {
            background-color: #f32a2a; }
        #register #login .modal-dialog .login-social > div > a {
          font-size: 14px;
          color: #fff;
          display: block; }
    #register #login .modal-dialog .register > a {
      text-decoration: underline;
      color: #4a75ce; }
  #register #login .icon-login {
    background: none;
    border: 0;
    box-shadow: none; }

.box-hot-news {
  margin-bottom: 15px; }
  .box-hot-news .content-left {
    position: relative; }
    .box-hot-news .content-left:hover .image:before {
      opacity: 0.2; }
    .box-hot-news .content-left .content {
      padding-left: 15px;
      padding-right: 30px;
      position: absolute;
      bottom: 15px; }
      .box-hot-news .content-left .content .icon-live {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 15px; }
        .box-hot-news .content-left .content .icon-live i {
          font-size: 11px;
          background-color: white;
          color: #de0007;
          text-align: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          padding: 5px 5px 5px 7px;
          margin-left: 5px; }
      .box-hot-news .content-left .content .title {
        color: #fff;
        font-family: "UTMAlterGothic";
        font-size: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 27px;
        /* fallback */
        max-height: 56px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 8px;
        -moz-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }
      .box-hot-news .content-left .content .desc, .box-hot-news .box-latest-news .content-left .content-float-left .content .desc, .box-latest-news .box-hot-news .content-left .content-float-left .content .desc {
        color: #fff;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        /* fallback */
        max-height: 34px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
  .box-hot-news .content-right {
    background: url("../img/bg-box-hot-news-right.jpg") no-repeat center;
    background-size: cover; }
    .box-hot-news .content-right .title {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px solid #737371;
      padding: 5px 15px; }
    .box-hot-news .content-right .item {
      position: relative;
      margin: 6px 15px;
      border-bottom: 1px solid #737373; }
      .box-hot-news .content-right .item:hover h3 {
        color: #de0007; }
      .box-hot-news .content-right .item:last-child {
        border-bottom: 0; }
      .box-hot-news .content-right .item h3 {
        color: #fff;
        font-family: "UTMAlterGothic";
        margin-bottom: 10px;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 15px;
        /* fallback */
        max-height: 32px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        -moz-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }
      .box-hot-news .content-right .item span {
        font-size: 10px;
        color: #de0007;
        font-style: italic; }

.box-latest-news {
  background-color: #fff;
  padding: 15px; }
  .box-latest-news > .title {
    margin-bottom: 10px; }
  .box-latest-news .content-left {
    width: calc(100% - 290px);
    margin-right: 15px; }
    .box-latest-news .content-left > div {
      width: 48%;
      margin-right: 15px; }
      .box-latest-news .content-left > div:last-child {
        margin-right: 0; }
    .box-latest-news .content-left .content-float-left:hover .image:before {
      opacity: 0.3; }
    .box-latest-news .content-left .content-float-left:hover .content .title {
      color: #de0007; }
    .box-latest-news .content-left .content-float-left:hover .content .desc {
      color: #de0007; }
    .box-latest-news .content-left .content-float-left .image {
      margin-bottom: 15px; }
    .box-latest-news .content-left .content-float-left .content .title {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 20px;
      /* fallback */
      max-height: 42px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #000;
      -moz-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
    .box-latest-news .content-left .content-float-left .content .desc {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      /* fallback */
      max-height: 56px;
      /* fallback */
      -webkit-line-clamp: 3;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #000;
      -moz-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
    .box-latest-news .content-left .content-float-right .item {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 5px;
      margin-bottom: 5px; }
      .box-latest-news .content-left .content-float-right .item:last-child {
        border-bottom: 0;
        margin-bottom: 0; }
      .box-latest-news .content-left .content-float-right .item:first-child {
        margin-top: -4px; }
      .box-latest-news .content-left .content-float-right .item:hover h3 {
        color: #de0007; }
      .box-latest-news .content-left .content-float-right .item h3 {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        /* fallback */
        max-height: 42px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        color: #000;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
  .box-latest-news .content-right {
    width: 275px;
    background: url("../img/bg-bxh.png") no-repeat center; }
    .box-latest-news .content-right .league-table .content {
      margin-top: -4px; }
      .box-latest-news .content-right .league-table .content thead, .box-latest-news .content-right .league-table .content tbody, .box-latest-news .content-right .league-table .content tr, .box-latest-news .content-right .league-table .content td, .box-latest-news .content-right .league-table .content th {
        display: block; }
    .box-latest-news .content-right #tab-league-table {
      list-style: none;
      display: inline-block;
      width: 100%;
      background-color: #de0007; }
      .box-latest-news .content-right #tab-league-table > li {
        padding: 5px;
        padding-right: 10px;
        float: left;
        text-align: center;
        background-size: contain;
        position: relative; }
        .box-latest-news .content-right #tab-league-table > li:first-child {
          margin-left: 0; }
        .box-latest-news .content-right #tab-league-table > li:last-child {
          margin-right: 0; }
          .box-latest-news .content-right #tab-league-table > li:last-child > a:before {
            border-right: 0; }
        .box-latest-news .content-right #tab-league-table > li.active > a {
          color: #fff; }
        .box-latest-news .content-right #tab-league-table > li > a {
          font-size: 18px;
          color: #810202;
          font-family: "UTMAlterGothic";
          text-transform: uppercase;
          display: block;
          line-height: 22px;
          position: relative;
          padding-right: 20px; }
          .box-latest-news .content-right #tab-league-table > li > a:before {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 1px;
            height: 15px;
            border-right: 1px solid #810202; }
    .box-latest-news .content-right table {
      margin-bottom: 0; }
      .box-latest-news .content-right table thead {
        background-color: #c10000; }
        .box-latest-news .content-right table thead tr th {
          float: left;
          font-size: 12px;
          color: #fff;
          text-align: center;
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding: 5px 1px; }
          .box-latest-news .content-right table thead tr th .list-item-select select {
            background-color: #9b0000; }
            .box-latest-news .content-right table thead tr th .list-item-select select option {
              font-weight: 500;
              color: #fff;
              font-size: 12px; }
          .box-latest-news .content-right table thead tr th .list-item-select .nice-select {
            height: inherit;
            background-color: #9b0000;
            line-height: inherit;
            width: 100%;
            padding: 0 15px 0 10px; }
            .box-latest-news .content-right table thead tr th .list-item-select .nice-select span {
              font-weight: 500;
              color: #fff;
              font-size: 12px; }
            .box-latest-news .content-right table thead tr th .list-item-select .nice-select .list {
              background-color: #9b0000; }
              .box-latest-news .content-right table thead tr th .list-item-select .nice-select .list .option {
                height: inherit;
                line-height: inherit;
                min-height: inherit; }
                .box-latest-news .content-right table thead tr th .list-item-select .nice-select .list .option:hover {
                  color: #de0007; }
      .box-latest-news .content-right table tbody {
        height: 200px;
        overflow-y: auto;
        width: 100%; }
        .box-latest-news .content-right table tbody tr:nth-child(2n) {
          background-color: rgba(0, 0, 0, 0.2); }
        .box-latest-news .content-right table tbody tr > td {
          font-size: 11px;
          color: #fff;
          text-align: center;
          padding: 5px;
          line-height: 11px;
          vertical-align: middle;
          border: 1px solid rgba(0, 0, 0, 0.3);
          float: left; }
          .box-latest-news .content-right table tbody tr > td.name {
            text-align: left; }

.box-premier-league .list-item-premier-league {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .box-premier-league .list-item-premier-league > div {
    flex: 1;
    margin-right: 15px; }
    .box-premier-league .list-item-premier-league > div:last-child {
      margin-right: 0; }

.box-premier-league .item-box:hover .image:before {
  opacity: 0.4; }

.box-premier-league .item-box:hover .content .title {
  color: #de0007; }

.box-premier-league .item-box:hover .content .desc {
  color: #de0007; }

.box-premier-league .item-box:hover .content .line:before {
  border-bottom: 1px solid #000; }

.box-premier-league .item-box.red {
  background-color: #de0007; }
  .box-premier-league .item-box.red:hover .content .title {
    color: #000; }
  .box-premier-league .item-box.red:hover .content .desc {
    color: #000; }
  .box-premier-league .item-box.red:hover .content .line:before {
    border-bottom: 1px solid #000; }
  .box-premier-league .item-box.red .content .title {
    color: #fff; }
  .box-premier-league .item-box.red .content .desc {
    color: #fff; }
  .box-premier-league .item-box.red .content .line:before {
    border-bottom: 1px solid #fff; }

.box-premier-league .item-box.gray {
  background-color: #373737; }
  .box-premier-league .item-box.gray:hover .content .title {
    color: #de0007; }
  .box-premier-league .item-box.gray:hover .content .desc {
    color: #de0007; }
  .box-premier-league .item-box.gray:hover .content .line:before {
    border-bottom: 1px solid #de0007; }
  .box-premier-league .item-box.gray .content .title {
    color: #fff; }
  .box-premier-league .item-box.gray .content .desc {
    color: #fff; }
  .box-premier-league .item-box.gray .content .line:before {
    border-bottom: 1px solid #fff; }

.box-premier-league .item-box .image {
  margin-bottom: 15px; }

.box-premier-league .item-box .content {
  padding: 0 10px 10px; }
  .box-premier-league .item-box .content .title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    /* fallback */
    max-height: 42px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
  .box-premier-league .item-box .box-latest-news .content-left .content-float-left .content .desc, .box-latest-news .content-left .content-float-left .box-premier-league .item-box .content .desc, .box-premier-league .item-box .content .desc {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    /* fallback */
    max-height: 56px;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }

.box-premier-league .item-box.list-item .item {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%; }
  .box-premier-league .item-box.list-item .item:hover h3 {
    color: #de0007;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .box-premier-league .item-box.list-item .item:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  .box-premier-league .item-box.list-item .item h3 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    /* fallback */
    max-height: 38px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: "UTMAlterGothic";
    color: #000; }

.box-transfer .item-box:hover .image:before {
  opacity: 0; }

.box-transfer .item-box.list-item .item {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px; }
  .box-transfer .item-box.list-item .item:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .box-transfer .item-box.list-item .item:hover > .image:before {
    opacity: 0.5; }
  .box-transfer .item-box.list-item .item .image {
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0; }
  .box-transfer .item-box.list-item .item h3 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    /* fallback */
    max-height: 56px;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: "UTMAlterGothic";
    color: #000;
    margin-top: -4px; }

.box-tbn .content-left {
  width: calc(100% - 284px);
  margin-right: 15px; }
  .box-tbn .content-left:hover .image:before {
    opacity: 0.4; }
  .box-tbn .content-left:hover .content .title {
    color: #de0007; }
  .box-tbn .content-left:hover .content .desc {
    color: #000; }
  .box-tbn .content-left .image {
    margin-bottom: 10px; }
  .box-tbn .content-left .content {
    padding-right: 10px; }
    .box-tbn .content-left .content .title {
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 28px;
      /* fallback */
      max-height: 30px;
      /* fallback */
      -webkit-line-clamp: 1;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #000;
      font-family: "UTMAlterGothic";
      margin-bottom: 7px; }
    .box-tbn .content-left .content .desc, .box-tbn .box-latest-news .content-left .content-float-left .content .desc, .box-latest-news .box-tbn .content-left .content-float-left .content .desc {
      color: #464646;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 20px;
      /* fallback */
      max-height: 62px;
      /* fallback */
      -webkit-line-clamp: 3;
      /* number of lines to show */
      -webkit-box-orient: vertical; }

.box-tbn .content-right {
  width: 263px; }
  .box-tbn .content-right .list-item-box .item {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .box-tbn .content-right .list-item-box .item:hover .image:before {
      opacity: 0.4; }
    .box-tbn .content-right .list-item-box .item:hover h3 {
      color: #de0007; }
    .box-tbn .content-right .list-item-box .item:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
    .box-tbn .content-right .list-item-box .item.item-top:hover .content {
      color: #de0007; }
    .box-tbn .content-right .list-item-box .item.item-top .image {
      margin-bottom: 10px; }
    .box-tbn .content-right .list-item-box .item.item-top .content {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      /* fallback */
      max-height: 38px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #000;
      font-family: "UTMAlterGothic";
      margin-bottom: 7px; }
    .box-tbn .content-right .list-item-box .item h3 {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      /* fallback */
      max-height: 38px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #000;
      font-family: "UTMAlterGothic"; }

.box-y {
  padding-bottom: 0; }
  .box-y .list-item-left {
    width: 25%; }
  .box-y .list-item-right {
    width: 25%; }
  .box-y .item-center {
    width: 50%; }
    .box-y .item-center .image {
      margin-bottom: 0; }
    .box-y .item-center .content {
      padding: 15px;
      background-color: #f4f4f4; }
      .box-y .item-center .content .title {
        font-size: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 25px;
        /* fallback */
        max-height: 77px;
        /* fallback */
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
  .box-y .item-box.list-item.list-item-left {
    padding-right: 15px;
    text-align: right; }
  .box-y .item-box.list-item.list-item-right {
    padding-left: 15px;
    text-align: left; }
    .box-y .item-box.list-item.list-item-right .item h3 {
      text-align: left; }
  .box-y .item-box.list-item .item {
    padding-bottom: 12px;
    margin-bottom: 12px; }
    .box-y .item-box.list-item .item h3 {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      /* fallback */
      max-height: 56px;
      /* fallback */
      -webkit-line-clamp: 3;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: 5px; }
    .box-y .item-box.list-item .item p {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      /* fallback */
      max-height: 34px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #464646; }

.box-video {
  background: url("../img/bg-box-video.jpg") no-repeat center center;
  background-size: cover; }
  .box-video > .title {
    color: #fff; }
  .box-video .item-right {
    width: 232px;
    flex: none;
    margin-left: 15px; }
  .box-video .item {
    margin-bottom: 15px; }
    .box-video .item:hover .image:before {
      opacity: 0.3;
      background-color: #fff; }
    .box-video .item:hover .image .icon-video {
      background-color: rgba(211, 0, 7, 0.7);
      color: #fff; }
    .box-video .item.item-left .image {
      margin-bottom: 20px; }
      .box-video .item.item-left .image .icon-video {
        font-size: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        padding-left: 7px; }
    .box-video .item.item-left .content .title {
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 24px;
      /* fallback */
      max-height: 50px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      padding: 0 15px; }
    .box-video .item .image {
      position: relative;
      margin-bottom: 10px; }
      .box-video .item .image .icon-video {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        color: #de0007;
        font-size: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 6px;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        .box-video .item .image .icon-video:before {
          content: "";
          position: absolute;
          border: 3px solid rgba(255, 255, 255, 0.7);
          left: -5px;
          top: -5px;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          border-radius: 50%; }
    .box-video .item .content {
      text-align: center; }
      .box-video .item .content .title {
        font-family: "UTMAlterGothic";
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        /* fallback */
        max-height: 42px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical; }

.box-germany .list-item-germany {
  display: inline-block;
  width: 100%; }
  .box-germany .list-item-germany .item-box {
    margin-right: 7px;
    width: calc(100% / 5 - 6px);
    float: left; }
    .box-germany .list-item-germany .item-box:last-child {
      margin-right: 0; }
    .box-germany .list-item-germany .item-box .image {
      margin-bottom: 0; }
    .box-germany .list-item-germany .item-box .content {
      background-color: #f5f5f5;
      padding-top: 8px; }
      .box-germany .list-item-germany .item-box .content .title {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;
        /* fallback */
        max-height: 56px;
        /* fallback */
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      .box-germany .list-item-germany .item-box .content .line {
        margin-bottom: 6px; }

.box-french .list-item-germany .item-box {
  margin-right: 14px;
  width: calc(100% / 4 - 11px);
  border-bottom: 3px solid #de0007; }

.box-behind .list-item-behind {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row; }

.box-behind .item-left {
  width: 350px;
  margin-right: 10px;
  background-color: #de0007; }
  .box-behind .item-left .item-box .content .title {
    font-family: "UTMAlterGothic";
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 28px;
    /* fallback */
    max-height: 58px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }

.box-behind .item-right {
  width: calc(100% - 360px); }
  .box-behind .item-right .item-box {
    width: calc(50% - 8px);
    margin-right: 15px;
    float: left;
    margin-bottom: 15px; }
    .box-behind .item-right .item-box:nth-child(2n) {
      margin-right: 0; }
    .box-behind .item-right .item-box:last-child {
      margin-bottom: 0; }
    .box-behind .item-right .item-box:nth-last-child(2) {
      margin-bottom: 0; }
    .box-behind .item-right .item-box:hover .content {
      background-color: #de0007; }
    .box-behind .item-right .item-box .image {
      margin-bottom: 0; }
    .box-behind .item-right .item-box .content {
      background-color: #373737;
      padding: 10px;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .box-behind .item-right .item-box .content .title {
        font-family: "UTMAlterGothic";
        color: #fff;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;
        /* fallback */
        max-height: 56px;
        /* fallback */
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical; }

#nav-sidebar > div {
  margin-bottom: 15px; }

.news-highlight {
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  padding: 14px; }
  .news-highlight > .title {
    font-size: 18px;
    color: #808080;
    font-family: "UTMAlterGothic";
    text-transform: uppercase;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .news-highlight .list-news-highlight .item {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px; }
    .news-highlight .list-news-highlight .item .image {
      width: 60px;
      float: left;
      margin-right: 10px;
      position: relative; }
      .news-highlight .list-news-highlight .item .image:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 5px solid #fff;
        border-bottom: 5px solid transparent;
        z-index: 1;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .news-highlight .list-news-highlight .item .content .title {
      color: #000;
      font-family: "UTMAlterGothic";
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      /* fallback */
      max-height: 38px;
      /* fallback */
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical; }

.news-video {
  position: relative;
  background: none;
  border: 2px solid #de0007;
  margin-top: 35px;
  padding: 10px 12px 5px;
  background-color: #000; }
  .news-video:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -22px;
    height: 22px;
    width: 48px;
    background: url("../img/icon-video.png") no-repeat center;
    z-index: 1; }
  .news-video .item .title {
    font-size: 18px;
    color: #fff;
    font-family: "UTMAlterGothic";
    padding-bottom: 10px; }
    .news-video .item .title span {
      margin-right: 5px; }

.favorite-team {
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  padding: 14px 0; }
  .favorite-team .title {
    font-size: 18px;
    color: #808080;
    text-transform: uppercase;
    font-family: "UTMAlterGothic";
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 0 11px 5px; }
    .favorite-team .title span {
      float: right;
      font-size: 14px;
      color: #6f6f6f; }
  .favorite-team .list-item-team {
    display: inline-block;
    width: 100%; }
    .favorite-team .list-item-team .item {
      width: calc(100% / 2 - 22px);
      float: left;
      padding-bottom: 8px;
      margin: 8px 11px 4px;
      border-bottom: 1px dashed #ebebeb; }
      .favorite-team .list-item-team .item:last-child {
        border-bottom: 0; }
      .favorite-team .list-item-team .item:nth-last-child(2) {
        border-bottom: 0; }
      .favorite-team .list-item-team .item .image {
        width: 26px;
        float: left;
        margin-right: 10px;
        height: 20px; }
      .favorite-team .list-item-team .item .content {
        display: inline-block; }
        .favorite-team .list-item-team .item .content h3 {
          font-size: 14px;
          color: #000;
          line-height: 20px; }
        .favorite-team .list-item-team .item .content p {
          font-size: 11px;
          color: #b6b6b6;
          text-transform: uppercase; }
  .favorite-team .add-team {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .favorite-team .add-team > a {
      font-size: 12px;
      color: #0066cc; }

.many-read .list-news-highlight .item .image {
  width: 85px; }
  .many-read .list-news-highlight .item .image:after {
    border: 0; }

.many-read .list-news-highlight .item .content .title {
  margin-top: -4px;
  margin-bottom: 5px; }

.many-read .list-news-highlight .item .content .time {
  font-size: 11px;
  color: #ababab; }

body {
  min-width: 100%;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.2; }

*:focus {
  outline: none !important; }

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none; }

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0; }

h1, h2, h3, h4, h5, p, a span, label, button {
  font-weight: 400;
  margin: 0; }

img {
  border: none;
  max-width: 100%; }

/* ---------------- Grid ---------------- */

/*# sourceMappingURL=style.css.map */